##### The cell below is for you to keep track of the libraries used and install those libraries quickly
##### Ensure that the proper library names are used and the syntax of `%pip install PACKAGE_NAME` is followed

In [ ]:
#%pip install pandas 
#%pip install matplotlib
# add commented pip installation lines for packages used as shown above for ease of testing
# the line should be of the format %pip install PACKAGE_NAME

## **DO NOT CHANGE** the filepath variable
##### Instead, create a folder named 'data' in your current working directory and 
##### have the .csv file inside that. A relative path *must* be used when loading data into pandas

In [95]:
# Can have as many cells as you want for code
import pandas as pd
df = pd.read_csv("catA_train.csv")
# the initialised filepath MUST be a relative path to a folder named data that contains the parquet file

### **ALL** Code for machine learning and dataset analysis should be entered below. 
##### Ensure that your code is clear and readable.
##### Comments and Markdown notes are advised to direct attention to pieces of code you deem useful.

In [96]:
def fill_na_with_mean(dataframe, column_name):
	mean_value = dataframe[column_name].mean()
	dataframe[column_name].fillna(mean_value, inplace=True)
	return dataframe

def assign_numbers_to_unique_strings(dataframe, column_name):
    # Create a unique number for each unique string
    unique_strings = dataframe[column_name].unique()
    string_to_number = {string: i for i, string in enumerate(unique_strings)}
    
    # Map the strings to numbers and create a new column
    dataframe[column_name + '_Numbered'] = dataframe[column_name].map(string_to_number)
    return dataframe

def assign_binary_to_na(dataframe, column_name):
	# Assign 1 to non-NA values and 0 to NA values in the specified column
	dataframe[column_name + '_Binary_NA'] = dataframe[column_name].notna().astype(int)
	return dataframe

In [97]:
###...code...###
# Number of NA values in each column
df.isna().sum()
df['Industry'].describe()

count                                                 29182
unique                                                  580
top       Offices of Holding Companies, Not Elsewhere Cl...
freq                                                   7753
Name: Industry, dtype: object

In [98]:
# Deleting unnecessary columns
df = df.drop(['LATITUDE', 'LONGITUDE', 'AccountID', 'SIC Code', '8-Digit SIC Code',  '8-Digit SIC Description', 'Company Description', 'Square Footage', 'Import/Export Status', 'Fiscal Year End',
              'Global Ultimate Company', 'Global Ultimate Country', 'Domestic Ultimate Company'], axis=1)

In [99]:
# Replacing industries below threshold to 'Others'
# Find the frequency of each industry
sic_code_frequency = df['Industry'].value_counts()

# Set a threshold for low-frequency SIC Codes
threshold = 15  # Adjust this threshold based on your preference

# Identify SIC Codes with frequency below the threshold
low_frequency_sic_codes = sic_code_frequency[sic_code_frequency < threshold].index

# Replace these low-frequency SIC Codes with a common label "Others"
df['Industry'] = df['Industry'].replace(low_frequency_sic_codes, 'Others')

sic_code_frequency1 = df['Industry'].value_counts()

# Display the updated DataFrame
print(sic_code_frequency1)

Industry
Offices of Holding Companies, Not Elsewhere Classified      7753
Others                                                      2034
Management Consulting Services                              1389
Computer Programming Services                                778
Arrangement of Transportation of Freight and Cargo           737
                                                            ...
Industrial Gases                                              15
Regulation and Administration of Transportation Programs      15
Dairy Products, Except Dried or Canned                        15
Office Equipment                                              15
Prefabricated Metal Buildings and Components                  15
Name: count, Length: 218, dtype: int64

In [113]:
# Replace na values in Year Found with mean
df = fill_na_with_mean(df, "Year Found")

# Get Age column
df['Age'] = 2024 - df['Year Found']
df = df.drop("Year Found", axis=1)

In [114]:
# Assign numbers to unique Entity Types
df = assign_numbers_to_unique_strings(df, "Entity Type")
df = df.drop("Entity Type", axis=1)

In [115]:
# Assign binary to Parent Company, Yes = 1, No/NA = 0
df = assign_binary_to_na(df, "Parent Company")
df = df.drop("Parent Company",axis=1)

In [116]:
# Replace NA values with mean in Employee(Single)
df = fill_na_with_mean(df,"Employees (Single Site)")
df = df.drop("Employees (Single Site)",axis=1)

In [117]:
# Drop NA values in Parent Country
df = df.dropna(subset=["Parent Country"])

In [118]:
# Replace unique strings with binary in Ownership Type
df = assign_numbers_to_unique_strings(df, "Ownership Type")
df = df.drop("Ownership Type", axis=1)

In [119]:
# Replace NA values with mean in Employee(Global)

df = fill_na_with_mean(df,"Employees (Global Ultimate Total)")
df = df.drop("Employees (Global Ultimate Total)", axis=1)

In [120]:
# Drop NA values in Employees (Domestic Ultimate)
df = df.dropna(subset=["Employees (Domestic Ultimate Total)"])

In [121]:
# Assign unique to Company Status
df = assign_numbers_to_unique_strings(df, "Company Status (Active/Inactive)")
df = df.drop("Company Status (Active/Inactive)",axis=1)

In [122]:
df

,Company,Industry,Parent Country,Employees (Domestic Ultimate Total),Sales (Domestic Ultimate Total USD),Sales (Global Ultimate Total USD),Is Domestic Ultimate,Is Global Ultimate,Age,Entity Type_Numbered,Parent Company_Binary_NA,Ownership Type_Numbered,Company Status (Active/Inactive)_Numbered
0,FRANK CONSULTING SERVICES PRIVATE LIMITED,Employment Agencies,Singapore,25.0,2.209224e+06,4.637871e+06,0.0,0.0,4.0,0,1,0,0
1,NEW DESERT ORCHID SHIPPING PTE. LTD.,"Water Transportation of Freight, Not Elsewhere...",Singapore,100.0,7.093536e+09,7.093536e+09,0.0,0.0,9.0,0,1,0,0
2,2MBAO BIOCELLBANK PTE. LTD.,"Offices of Holding Companies, Not Elsewhere Cl...",Hong Kong SAR,4.0,1.026308e+06,1.026308e+06,1.0,0.0,31.0,0,1,0,0
3,NEWBLOOM PTE. LTD.,"Offices of Holding Companies, Not Elsewhere Cl...",Singapore,100.0,7.339898e+10,7.339898e+10,0.0,0.0,18.0,0,1,0,0
4,ASIA GREEN CAPITAL PTE. LTD.,"Offices of Holding Companies, Not Elsewhere Cl...",Singapore,4.0,4.322130e+05,4.322130e+05,1.0,1.0,18.0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29176,RYB ENGINEERING PTE LTD,Electrical Work,Japan,100.0,6.344614e+06,1.402050e+09,1.0,0.0,28.0,0,1,0,0
29177,DYSTAR GLOBAL HOLDINGS (SINGAPORE) PTE. LTD.,"Offices of Holding Companies, Not Elsewhere Cl...",Hong Kong SAR,50.0,2.949122e+06,2.943975e+09,1.0,0.0,15.0,0,1,0,0
29179,ABRDN ASIA LIMITED,"Unit Investment Trusts, Face-Amount Certificat...",United Kingdom,5.0,2.289731e+08,4.114318e+08,1.0,0.0,33.0,0,1,1,0
29180,FANSIPAN HOLDINGS PTE. LTD.,"Offices of Holding Companies, Not Elsewhere Cl...",Singapore,4.0,1.026308e+06,1.026308e+06,0.0,0.0,6.0,0,1,0,0
29181,WHOLESOME FOOD PEOPLE PTE. LTD.,"Durable Goods, Not Elsewhere Classified",Singapore,4.0,1.026308e+06,1.026308e+06,0.0,0.0,6.0,0,1,0,0

## The cell below is **NOT** to be removed
##### The function is to be amended so that it accepts the given input (dataframe) and returns the required output (list). 
##### It is recommended to test the function out prior to submission
-------------------------------------------------------------------------------------------------------------------------------
##### The hidden_data parsed into the function below will have the same layout columns wise as the dataset *SENT* to you
##### Thus, ensure that steps taken to modify the initial dataset to fit into the model are also carried out in the function below

In [11]:
def testing_hidden_data(hidden_data: pd.DataFrame) -> list:
    '''DO NOT REMOVE THIS FUNCTION.

The function accepts a dataframe as input and return an iterable (list)
of binary classes as output.

The function should be coded to test on hidden data
and should include any preprocessing functions needed for your model to perform. 
    
All relevant code MUST be included in this function.'''

    result = [] 
    return result

##### Cell to check testing_hidden_data function

In [ ]:
# This cell should output a list of predictions.
test_df = pd.read_csv(filepath)
test_df = test_df.drop(columns=['Sales (Domestic Ultimate Total USD)'])
print(testing_hidden_data(test_df))

### Please have the filename renamed and ensure that it can be run with the requirements above being met. All the best!